/* #region Common */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 2rem 0;
}

body {
  font-family: 'gg sans', sans-serif;
  font-family: 'gg sans Normal', sans-serif;
  font-family: 'gg sans Medium', sans-serif;
  font-family: 'gg sans SemiBold', sans-serif;
  color: #ededed;
}

/* #endregion Common */

/* #region Button */



.btn-login {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #ededed;
  color: #22262a;
  font-size: 0.8rem;
}

.btn-open-brs {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: #22262a;
  color: #ededed;
  font-size: 0.8rem;
}

/* #endregion Button */

/* #region Debug */
.debug .container
{
  background-color: #3060e0;
}

.debug [class^='col-'] {
  height: 200px;
  background-color: palegreen;
  border: 1px dashed;
}

.debug .h-50 {
  height: 500px;
}

.debug .login,
.debug .logo,
.debug .menu, .debug .container-btn {
  border: 1px dashed;
}

/*
.debug .container-sm
{
  background-color: palevioletred;
  height: 100%;
}
/* #endregion Debug */

/* #region Utilities */

.d-flex {
  display: flex;
  justify-content: center;
}

.container-sm {
  max-width: 800px;
  width: 60%;
  margin: auto;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

/* Flex Grid */
.container {
  max-width: 1170px;
  width: 80%;
  margin: auto;
}
.row {
  display: flex;
  /* negative margin */
}

[class^='col-'] {
  padding: 0 1rem;
}

.col-3 {
  width: calc(100% / 12 * 3);
}
.col-4 {
  width: calc(100% / 12 * 4);
}
.col-8 {
  width: calc(100% / 12 * 8);
}


/* Spacings */

.py-3 {
  padding: 0.75rem 0;
}

/* Colors */
.bg_section {
  background-color: #ededed;
}


/* #endregion Utility */

/* #region Header */

header {
  background-color: #3060e0;
  color: #fffefe;
}  

.logo, .login {
  width: 20%;
  padding: 1rem 0;
}
.menu {
  width: 60%;
  text-align: center;

}
.login {
  text-align: end;
}

a {
  color: #ededed;
  text-decoration: none;
  padding: 1rem 0.5rem;
}
/* #endregion Header */

/* #region Main */

.jumbotron {
  background-color: paleturquoise;
  height: 450px; /* we might need to keep this */
  padding: 2rem 0;
  background-image: url('/htmlcss-discord/assets/img/jumbo.png');
  background-size: contain;
  background-position: center;
  
}




/* #endregion Main */


/* #region Footer */
footer {
  background-color: #3060e0;
}
footer > .top, footer > .bottom {
  padding: 1rem 0;
}

/* #endregion Footer */